<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <div class="p-4">Sidenav content</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="p-4">
      <h1>Hello, {{ title }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <ng-container *ngIf="auth.isLoading$ | async; else authenticatedContent">
        <app-loading message="logged in"></app-loading>
      </ng-container>
      <ng-template #authenticatedContent>
        <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
          <router-outlet />

          <button
            mat-stroked-button
            (click)="
              auth.logout({
                logoutParams: { returnTo: 'http://localhost:4200/' },
              })
            "
          >
            Log out
          </button>
        </ng-container>
        <ng-template #loggedOut>
          <app-login></app-login>
        </ng-template>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<style></style>
